$field-height: 25px;
$field-label-font-color: $font-color-alternate;
$field-label-font-size: 13px;
$field-label-font-weight: 600;
$field-label-text-transform: uppercase;
$field-input-font-color: #000000;
$field-input-font-size: 14px;
$field-margin-top: 5px;
$field-margin-right: 0;
$field-margin-bottom: 0;
$field-margin-left: 0;
$field-label-top-padding: 5px;
$field-label-right-padding: 5px;
$field-label-bottom-padding: 5px;
$field-label-left-padding: 5px;