$grid-header-background-color: $color-blue-lightest;
$grid-header-font-color: $font-color-alternate;
$grid-cell-font-color: #000000;
$grid-cell-padding: 2px 5px;
$grid-cell-font-size: 14px;
$grid-header-font-weight: 600;