// Primary color taken from https://colors.muz.li/palette/272643/ffffff/e3f6f5/bae8e8/2c698d
$app-background-color: #efefef;
$font-color: #444444;
$font-color-alternate: #2c3e50;
// Used https://material.io/resources/color/#!/?view.left=0&view.right=0 to get these colors
$font-red: #b71c1c;
$font-green: #33691e;