.column {
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
}

.column:last-child {
	border-right: 2px solid black;
}

.column:first-child {
	border-left: 2px solid black;
}

.row:first-child .column {
	border-top: 2px solid black;
}

.row:first-child {
	height: 23px;
}

.row:last-child {
	height: 23px;
}

.row:last-child .column {
	border-bottom: 2px solid black;
}

.row {
	height: 22px;
}

.colHover:hover {
	background-color: rgba(173, 216, 230, 0.5);
}

.black {
	background-color: black;
}

.black:hover {
	background: rgba(0, 0, 0, 0.9);
}

.white {
	background-color: white;
}