@font-face {
  font-family: sharpieFont;
  src: url(PermanentMarker.ttf);
}

html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
  height: 100%;
  width: 100%;
}

#fader-area {
  background-color: white;
  height: 200px;
  width: 30%;
  bottom: 0;
  left: 35%;
  position: absolute;
  text-align: center;
}

#content {
  padding-bottom: 200px;
}

.tape {
  font-family: sharpieFont;
  width: 70px;
  font-weight: bold;
  height: 30px;
  color: black;
  position: relative;
	top: -35px;
  right: 30px;
  text-shadow: -1px 1px white, 1px -1px white;
	background-color: rgba(220,212,176,0.85);
	border-left: 1px dashed rgba(0, 0, 0, 0.1);
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 1px 0px #cccccc;
	-moz-box-shadow: 0px 0px 1px 0px #cccccc;
	box-shadow: 0px 0px 1px 0px #cccccc;
	-webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	-moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	-o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
}

.tape-clicked {
  text-shadow: -4px 4px #FFEE00, 4px 0 #FFEE00, -4px 0 #FFEE00, 4px -4px #FFEE00, 0px 4px #FFEE00, 0px -4px #FFEE00;
}

.fader-bar {
  height: 70%;
  background-color: black;
  width: 10px;
  display: inline-block;
  position: relative;
  top: 25%;
  margin: 0px 30px;
}

.fader {
  background-color: grey;
  height: 30px;
  width: 20px;
  /* Because height of fader-bar is 140px */
  top: 110px;
  left: -5px;
  position: absolute;
}

.fader:hover {
  background-color: blue;
  cursor: pointer;
}

.fader-on {
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  top: 0px;
}

.fader-off {
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  top: 110px;
}

.fader-lights {
  height: 110px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.fader-light {
  height: 10px;
  width: 100%;
  position: relative;
}

.fader-light-green {
  background-color: #BBFF00;
}

.fader-light-yellow {
  background-color: #FFA900;
}

.fader-light-red {
  background-color: #FF0114;
}