// Constants
$fader-property: top;
$fader-duration: 0.5s;
$fader-timing-function: linear;
$fader-light-green: #BBFF00;
$fader-light-yellow: #FFA900;
$fader-light-red: #FF0114;
$fader-light-shadow-size: 10px;
$tape-clicked-color: #FFEE00;
$tape-clicked-shadow-size: 4px;

@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
@font-face {
  font-family: sharpieFont;
  src: url(PermanentMarker.ttf);
}

@font-face {
  src: local('PT Sans'), local('PTSans-Regular'), url(pt_sans.woff2) format('woff2'), url(pt_sans.woff) format('woff');
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition-delay($delay) {
  -webkit-transition-delay: $delay;
     -moz-transition-delay: $delay;
          transition-delay: $delay;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
          transition-duration: $duration;
}

@mixin transition-property($property) {
  -webkit-transition-property: $property;
     -moz-transition-property: $property;
          transition-property: $property;
}

@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
     -moz-transition-timing-function: $timing-function;
          transition-timing-function: $timing-function;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: unquote($value);
  -moz-box-shadow: unquote($value);
  box-shadow: unquote($value);
}

@mixin fader-transition() {
  @include transition-property($fader-property);
  @include transition-duration($fader-duration);
  @include transition-timing-function($fader-timing-function);
}

@mixin transform($transform) {
  -webkit-transform: unquote($transform);
     -moz-transform: unquote($transform);
      -ms-transform: unquote($transform);
       -o-transform: unquote($transform);
          transform: unquote($transform);
}

@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
       -o-background-size: $background-size;
          background-size: $background-size;
}

@mixin center-div() {
  margin-left: auto;
  margin-right: auto;
}

html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
  /* height is fucking up... why? */
  /*height: 100%;*/
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#wrapper {
  min-height: 100%;
  position: relative;
  height: 100%;
  width: 100%;
}

#body {
  width: 80%;
  float: left;
  padding-top: 80px;
}

#header {
  float: left;
  height: 150px;
  width: 20%;
  min-width: 200px;
  @include center-div();
}

#header > .tape {
  @include transform("rotate(-5deg) skew(0deg, 0deg) translate(0%, -5px)");
}

#header > div {
  width: 50%;
  text-align: center;
  @include center-div();
}

#content {
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: 350px;
  @include box-shadow("0 0 15px 15px #49628a inset");
  @include border-radius(50px);
  overflow: hidden;
  @include center-div();
}

#music-content-right,
#music-content-left {
  float: left;
  position: relative;
}

#music-content-right {
  width: 30%;
}

#music-content-left {
  width: 70%;
}

#content > div {
  height: 290px;
  position: relative;
  overflow: auto;
  width: 1000px;
  @include center-div();
}

#fader-area {
  background-color: #272727;
  height: 200px;
  width: 400px;
  left: 35%;
  position: relative;
  text-align: center;
}

.fader-bar > .tape {
  width: 70px;
  height: 30px;
	top: -35px;
  right: 30px;
}

.tape {
  font-family: sharpieFont;
  font-weight: bold;
  color: black;
  position: relative;
  text-shadow: -1px 1px white, 1px -1px white;
	background-color: rgba(220, 212, 176, 0.85);
	border-left: 1px dashed rgba(0, 0, 0, 0.1);
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	@include box-shadow("0px 0px 1px 0px #CCCCCC");
	@include transform("rotate(-2deg) skew(0,0) translate(0%,-5px)");
}

.tape-clicked {
  text-shadow: -#{$tape-clicked-shadow-size} $tape-clicked-shadow-size $tape-clicked-color, $tape-clicked-shadow-size 0 $tape-clicked-color, -#{$tape-clicked-shadow-size} 0 $tape-clicked-color, $tape-clicked-shadow-size -#{$tape-clicked-shadow-size} $tape-clicked-color, 0 $tape-clicked-shadow-size $tape-clicked-color, 0 -#{$tape-clicked-shadow-size} $tape-clicked-color;
}

.fader-bar-area {
  height: 100%;
  width: 20%;
  position: relative;
  display: inline-block;
}

.fader-bar-area > .tape {
  top: 10%;
  display: inline-block;
  width: 100%;
}

.fader-bar {
  height: 150px;
  background-color: black;
  width: 10px;
  display: inline-block;
  position: relative;
  margin: 0px 30px;
  top: 10%;
}

.fader {
  background-repeat: no-repeat;
  background-image: url(fader.png);
  background-position: center;
  @include background-size(contain);
  height: 30px;
  width: 20px;
  /* Because height of fader-bar is 140px */
  top: 120px;
  left: -5px;
  position: absolute;
  @include border-radius(10px);
}

.fader:hover {
  background-image: url(fader_hover.png);
  cursor: pointer;
}

.fader-on {
  @include fader-transition();
  top: 0px;
}

.fader-off {
  @include fader-transition();
  top: 120px;
}

.fader-lights {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.fader-light {
  height: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 1px;
}

.hidden {
  display: none;
  top: 350px;
}

.selected-content {
  display: block;
  top: 25px;
}

.fader-light-green {
  @include box-shadow("-#{$fader-light-shadow-size} 0px #{$fader-light-green}, #{$fader-light-shadow-size} 0px #{$fader-light-green}");
}

.fader-light-yellow {
  @include box-shadow("-#{$fader-light-shadow-size} 0px #{$fader-light-yellow}, #{$fader-light-shadow-size} 0px #{$fader-light-yellow}");
}

.fader-light-red {
  @include box-shadow("-#{$fader-light-shadow-size} 0px #{$fader-light-red}, #{$fader-light-shadow-size} 0px #{$fader-light-red}");
}