@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
@font-face {
  font-family: sharpieFont;
  src: url(PermanentMarker.ttf); }
@font-face {
  src: local("PT Sans"), local("PTSans-Regular"), url(pt_sans.woff2) format("woff2"), url(pt_sans.woff) format("woff");
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400; }
html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
  /* height is fucking up... why? */
  /*height: 100%;*/ }

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

#wrapper {
  min-height: 100%;
  position: relative;
  height: 100%;
  width: 100%; }

#body {
  width: 80%;
  float: left;
  padding-top: 80px; }

#header {
  float: left;
  height: 150px;
  width: 20%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto; }

#header > .tape {
  -webkit-transform: rotate(-5deg) skew(0deg, 0deg) translate(0%, -5px);
  -moz-transform: rotate(-5deg) skew(0deg, 0deg) translate(0%, -5px);
  -ms-transform: rotate(-5deg) skew(0deg, 0deg) translate(0%, -5px);
  -o-transform: rotate(-5deg) skew(0deg, 0deg) translate(0%, -5px);
  transform: rotate(-5deg) skew(0deg, 0deg) translate(0%, -5px); }

#header > div {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#content {
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: 350px;
  -webkit-box-shadow: 0 0 15px 15px #49628a inset;
  -moz-box-shadow: 0 0 15px 15px #49628a inset;
  box-shadow: 0 0 15px 15px #49628a inset;
  behavior: url(PIE.htc);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  behavior: url(PIE.htc);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

#music-content-right,
#music-content-left {
  float: left;
  position: relative; }

#music-content-right {
  width: 30%; }

#music-content-left {
  width: 70%; }

#content > div {
  height: 290px;
  position: relative;
  overflow: auto;
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

#fader-area {
  background-color: #272727;
  height: 200px;
  width: 400px;
  left: 35%;
  position: relative;
  text-align: center; }

.fader-bar > .tape {
  width: 70px;
  height: 30px;
  top: -35px;
  right: 30px; }

.tape {
  font-family: sharpieFont;
  font-weight: bold;
  color: black;
  position: relative;
  text-shadow: -1px 1px white, 1px -1px white;
  background-color: rgba(220, 212, 176, 0.85);
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px 0px #CCCCCC;
  -moz-box-shadow: 0px 0px 1px 0px #CCCCCC;
  box-shadow: 0px 0px 1px 0px #CCCCCC;
  behavior: url(PIE.htc);
  -webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -ms-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  -o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
  transform: rotate(-2deg) skew(0,0) translate(0%,-5px); }

.tape-clicked {
  text-shadow: -4px 4px #FFEE00, 4px 0 #FFEE00, -4px 0 #FFEE00, 4px -4px #FFEE00, 0 4px #FFEE00, 0 -4px #FFEE00; }

.fader-bar-area {
  height: 100%;
  width: 20%;
  position: relative;
  display: inline-block; }

.fader-bar-area > .tape {
  top: 10%;
  display: inline-block;
  width: 100%; }

.fader-bar {
  height: 150px;
  background-color: black;
  width: 10px;
  display: inline-block;
  position: relative;
  margin: 0px 30px;
  top: 10%; }

.fader {
  background-repeat: no-repeat;
  background-image: url(fader.png);
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 30px;
  width: 20px;
  /* Because height of fader-bar is 140px */
  top: 120px;
  left: -5px;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(PIE.htc); }

.fader:hover {
  background-image: url(fader_hover.png);
  cursor: pointer; }

.fader-on {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
  top: 0px; }

.fader-off {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
  top: 120px; }

.fader-lights {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0; }

.fader-light {
  height: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 1px; }

.hidden {
  display: none;
  top: 350px; }

.selected-content {
  display: block;
  top: 25px; }

.fader-light-green {
  -webkit-box-shadow: -10px 0px #BBFF00, 10px 0px #BBFF00;
  -moz-box-shadow: -10px 0px #BBFF00, 10px 0px #BBFF00;
  box-shadow: -10px 0px #BBFF00, 10px 0px #BBFF00;
  behavior: url(PIE.htc); }

.fader-light-yellow {
  -webkit-box-shadow: -10px 0px #FFA900, 10px 0px #FFA900;
  -moz-box-shadow: -10px 0px #FFA900, 10px 0px #FFA900;
  box-shadow: -10px 0px #FFA900, 10px 0px #FFA900;
  behavior: url(PIE.htc); }

.fader-light-red {
  -webkit-box-shadow: -10px 0px #FF0114, 10px 0px #FF0114;
  -moz-box-shadow: -10px 0px #FF0114, 10px 0px #FF0114;
  box-shadow: -10px 0px #FF0114, 10px 0px #FF0114;
  behavior: url(PIE.htc); }

/*# sourceMappingURL=index.css.map */
