html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

#fader-area {
  background-color: white;
  height: 200px;
  width: 50%;
  bottom: 0;
  left: 25%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fader-bar {
  height: 70%;
  background-color: black;
  width: 4px;
  display: inline-block;
  position: relative;
  top: 15%;
  margin: 0px 30px;
}

.fader {
  background-color: grey;
  height: 30px;
  width: 15px;
  /* Because height of fader-bar is 140px */
  top: 110px;
  left: -5px;
  position: absolute;
}

.fader:hover {
  background-color: blue;
  cursor: pointer;
}

.fader-on {
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  top: 0px;
}

.fader-off {
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  top: 110px;
}

.fader-lights {
  position: absolute;
  bottom: 0;
}

/*.fader-light:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}*/

.fader-light {
  height: 10px;
  width: 40px;
  right: 17.5px;
  position: relative;
  display: none;
}

.fader-light-green {
  background-color: #BBFF00;
}

.fader-light-yellow {
  background-color: #FFA900;
}

.fader-light-red {
  background-color: #FF0114;
}