* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.roomInfo {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
}

.nameDiv > :nth-child(2) {
  border-left: 2px solid black;
}

.nameDiv > :last-child {
  border-right: 2px solid black;
}

#calendarArea {
  height: 100%;
  overflow-y: scroll;
}

.taken {
  background-color: #AA0000;
  height: 70%;
}

.open {
  background-color: #056805;
  height: 70%;
}

.entry {
  height: 100px;
}

.nameDiv {
  height: 10%;
  width: 100%;
}

.roomName {
  height: 30%;
}

div > span {
  white-space: normal;
}