body {
  background-color: black;
}

.soundboard-knob {
  height: 40px;
  width: 40px;
  background-color: silver;
  border-radius: 50%;
}

.soundboard-knob-dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  top: 50%;
  position: relative;
  transform-origin: 20px 0px;
}

.soundboard-knob-dot-clicked {
  transform: rotate(215deg);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.soundboard-knob-dot-unclicked {
  transform: rotate(0deg);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}