#chatArea {
  height: 400px;
  width: 700px;
  background-color: black;
  border: 7px solid grey;
  border-radius: 7px;
  color: white;
}

#messages {
  height: 100%;
  width: 80%;
  float: left;
}

#messages > p {
	margin-left: 14px;
	margin-top: 7px;
}

#messageLabel {
	position: absolute;
	bottom: 24%;
	left: 7%;
	font-size: 24pt;
	opacity: 0.3;
	z-index: -1;
}

#userList {
  height: 100%;
  width: 19%;
  border-left: 7px solid grey;
  float: left;
}

#sndBtn {
  position: relative;
	top: 40%;
}

#userArea {
  height: 150px;
  width: 700px;  
}

#message {
  background-color: transparent;
	border: 7px solid darkred;
	border-radius: 7px;
  width: 80%;
  height: 100%;
}

#audioArea {
  
}

#audioCheck {
  
}

.userList {
  margin-left: 14px;
	margin-top: 7px;
}

.you {
  color: lightskyblue;
}

.participant {
  color: green;
}
