#chatArea {
  height: 400px;
  width: 700px;
  background-color: black;
  border: 7px solid grey;
  border-radius: 7px;
  color: white;
}

#messages {
  height: 100%;
  width: 80%;
  float: left;
}

#userList {
  height: 100%;
  width: 19%;
  border-left: 7px solid grey;
  float: left;
}

#userArea {
  
}

#message {
  
}

#audioArea {
  
}

#audioCheck {
  
}

.userList {
  
}

.you {
  color: lightskyblue;
}

.participant {
  color: green;
}