.column {
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
}

.colNumber {
	float: left;
}

.column:last-child {
	border-right: 2px solid black;
}

#rowNums {
	float: left;
}

#nonoGrid, #spacer {	
	float: left;

}

#spacer {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.colHover:hover {
	background-color: rgba(173, 216, 230, 0.5);
}

.row:first-child .rowNums {
	border-top: 2px solid black;
}

.row:last-child {
	height: 23px;
}

.row:last-child .rowNums, .row:first-child .rowNums {
	height: 21px;
}

.row:last-child .column, .row:last-child .rowNums {
	border-bottom: 2px solid black;
}

.rowNums:last-child {
	border-bottom: 2px solid black;
}

.row {
	height: 22px;
}

.rowNums {
	border-top: 1px solid black;
	height: 20px;
	text-align: right;
}

.colNums {
	width: 20px;
	float: left;
	border-left: 1px solid black;
}

.colNums, .rowNums {
	font-size: 15px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.colNums:last-child {
	border-right: 2px solid black;
}

.colNumber, .rowNumber {
	padding: 0 6px 0 6px;
}

#colBox {
	float: left;
}

#colNums {
	height: 40px;
}

.black {
	background-color: black;
}

.black:hover {
	background: rgba(0, 0, 0, 0.9);
}

.white {
	background-color: white;
}