#clock {
	height: 500px;
	width: 500px;
	border-radius: 50%;
	border: 5px solid black;
	position: relative;
}

#hour {
	height: 35%;
	top: 15%;
	background-color: black;
}

#min {
	height: 25%;
	top: 25%;
	background-color: blue;
}

.hand {
	position: absolute;
	left: 50%;
	width: 6px;
}

.tick {
	height: 5%;
	width: 4px;
	background-color: black;
	position: absolute;
}

#twelve {
	left: 50%;
}

#six {
	left: 50%;
	bottom: 0;
}

#three {
	left: 97%;
	top: 50%;
	transform: rotate(90deg);
}

#nine {
	left: 1%;
	top: 50%;
	transform: rotate(90deg);
}

#one {
	left: 76%;
	transform: rotate(30deg);
	top: 8%;
}

#two {
	left: 92%;
	transform: rotate(60deg);
	top: 26%;
}

#eleven {
	left: 24%;
	transform: rotate(-30deg);
	top: 7%;
}

#ten {
	left: 7%;
	transform: rotate(-60deg);
	top: 25%;
}

#four {
	left: 91%;
	transform: rotate(120deg);
	bottom: 24%;
}

#five {
	left: 75%;
	transform: rotate(150deg);
	bottom: 7%;
}

#seven {
	left: 23%;
	transform: rotate(-150deg);
	bottom: 8%;
}

#eight {
	left: 8%;
	transform: rotate(-120deg);
	bottom: 24%;
}