.trashIcon {
  background: url("../css/images/trash.png") no-repeat;
  width: 16px;
  height: 16px;
  display: none;
}

.addIcon {
  background: url("../css/images/add.png") no-repeat;
  width: 16px;
  height: 16px;
  display: none;
}

body {
  background-color: lightBlue;
}

.iconContainer:hover .link {
  background-color: white;
}

.iconContainer:hover {
  cursor: pointer;
}

.iconContainer:hover .trashIcon {
  display: inline-block;
}

.border {
  border: 1px solid black;
}