// Had to set path https://github.com/vuejs-templates/webpack/issues/1313
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


.app-main {
  height: 100%;
  display: grid;
  grid-template-areas:
    "t t"
    "m m"
    "b b";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  background-color: $app-background-color;

  .navigation {
    grid-area: t;
  }

  .main-content {
    grid-area: m;
    margin: 10px;

    > * {
      height: 100% !important;
      background-color: $app-background-color !important;
    }
  }

  .footer {
    grid-area: b;
  }
}