@use "sass:math";
// This is a uniform padding amount, so all sides must have same value
$checkbox-padding: 2px;
/* $checkbox-size should account for padding * 2... if our padding is 2px on all directions, and we specify
 * 18px here, our size for the checkbox icon is around 14px.  The icon size should be derived from checkbox
 * padding and size */
$checkbox-size: 18px;
$checkbox-height: $checkbox-size + get-horizontal($field-input-border-width);
$checkbox-width: $checkbox-height;
$checkbox-icon-size: $checkbox-size - get-horizontal($checkbox-padding);
$checkbox-margin-top: math.div($field-height - $checkbox-height, 2);
$checkbox-background-color-checked: $field-input-border-color-focus;
$checkbox-color-checked: #FFFFFF;
$checkbox-icon: '\2714';
