$panel-title-background-color: $color-blue;
$panel-title-text-color: $color-blue-lightest;
$panel-title-padding: 5px;
$panel-border-color: #cecece;
$panel-border-width: 1px;
$panel-border-style: solid;
$panel-border: $panel-border-width $panel-border-style $panel-border-color;