// Primary color taken from https://colors.muz.li/palette/272643/ffffff/e3f6f5/bae8e8/2c698d
$app-background-color: #efefef;
$app-loading-mask-background-color: #cecece;
$primary-border-color: #cecece;
$primary-border-width: 1px;
$primary-border-style: solid;
$primary-border: $primary-border-width $primary-border-style $primary-border-color;
$font-color: #444444;
$font-color-alternate: #2c3e50;
// Used https://material.io/resources/color/#!/?view.left=0&view.right=0 to get these colors
$color-red: #b71c1c;
$color-green: #33691e;
$color-blue: #2c698d;
$color-blue-light: #4294c4;
$color-blue-lightest: #e3f6f5;