.committed-hours {
    font-size: 8pt;
    color: lightgrey;
}

.my-cell {
    width: 100%;
    border-collapse: collapse;
}

.my-cell td {
    font-size: 10pt;
}

.accept-hours {
    color: blue;
    font-size: 8pt;
    text-decoration: underline;
    cursor: pointer;
}

.my-left-cell {
    width: 90%;
}

.my-grid .x-grid-cell-inner {
    padding: 0;
}

.my-cell-handle:hover {
  cursor: pointer;
}

.my-cell-handle {
    width: 10%;
}

.my-cell-handle-0 {
    background-color: red;
}

.my-cell-handle-1 {
    background-color: green;
}

.my-cell-handle-2 {
    background-color: purple;
}

.my-cell-handle-3 {
    background-color: orange;
}

.my-cell-0 {
    background-color: pink;
}

.my-cell-1 {
    background-color: lightgreen;
}

.my-cell-2 {
    background-color: violet;
}

.my-cell-3 {
    background-color: yellow;
}

.my-grid .x-grid-cell-selected .my-cell-handle {
    opacity: 0.5;
}