/* Remove the red border-color of the today cell */
.date-week-picker .x-datepicker-today {
    border-color: white;
}

.date-field-selected {
    background-color: #d6e8f6;
    border-color: #d6e8f6;
}

.date-field-selected .x-datepicker-cell {
    border-color: #d6e8f6;
}

.x-datepicker-inner tr[role="row"]:hover td.x-datepicker-cell {
    border-color: #eaf3fa;
}

.x-datepicker-inner tr[role="row"]:hover td.x-datepicker-cell div.x-datepicker-date {
    background-color: #eaf3fa;
}

.x-datepicker-disabled.x-datepicker-cell {
  border-color: #eee;
}