#jury {
  width: 400px;
  height: 100px;
  float: left;
}

#judge {
  width: 100px;
  height: 50px;
  margin-left: auto;  /* centers in the middle of the page */
  margin-right: auto;  /* centers in the middle of the page */
  position: relative;
}

#plaintiff {
  clear: both;
}

.blah {
  width: 50%;
  height: 300px;
  float: left;
}

.blah > div {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  top: 250px;
  position: relative;
}

.person {
  width: 100px;
  height: 50px;
  line-height: 50px;  /* centers their name in the middle of the div */
  background-color: grey;
  text-align: center;  /* centers the name */
  display: inline-block;
}

#jury .person {
  float: left;
}

#judge .person {
  position: relative;
  top: 50px;
}

#defendent .person {
  
}